/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

/* estilos padrão */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Instrument Serif', serif;
  background-color: #FFC4D6;
}

/* estilos da barra de navegação */
.barra-nav {
  background-color: #FFC4D6;
  padding-bottom: 10px;
  float: right;
  line-height: 60px;
  height: 10px;
}

.barra-nav a {
  margin: 10px;
  font-size: large;
  color: #03045E;
  text-align: center;
  text-decoration: none;
}

.barra-nav a:hover {
  background-color: #FFA6C1;
  border-radius: 5px;
}
.barra-nav a:active {
  color: #e5e5e5;
}


/* estilos do header */
.header h1 {
  color: #03045E;
  margin-left: 20px;
}

hr {
  color: #03040E;
}




/*estilos do rodape*/
.rodape{
    margin-top: 600px;
    background-color: #FFA6C1;
    position: fixed;
    position: absolute;
  }.div-rodape{
    width: 1600px;
    text-decoration: none;
    position: relative;
    background-color: #FFA6C1;
    height: 200px;
  }
  
  .div-rodape h6{
  background-color: #FFA6C1;
  line-height: 40px;
  }
  
  .rodape-nav a:active{
    color:white;
  }
  .rodape-nav{
    line-height: 200px;
    background-color: #FFA6C1;
    margin: 10px;
    font-size: 30px;
    color: #03045E;
    text-align: center;
    
  }
  .rodape-nav a{
    margin: 10px;
    background-color: #FFA6C1;
    border-radius: 5px;
    text-decoration-line: none;
  }
  .rodape-nav a:hover{
    background-color: #FFC4D6;
    border-radius: 5px;
  }
  
  .direitos i{
  background-color: #FFA6C1;
  color: #ff477e;
  line-height: 10px;
  }
  
  #blue{
    color: blue;
  }


.card{
    text-align: center;
}

.card  h1{
    color: #03045E;
}

  button{
    margin: 10px;
    background-color: #FFA6C1;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
    cursor: pointer;
    color: #03045E;
  }

  button:hover{
    background-color: #ff477e;
  }

  #Botao{
    position: relative;
    transition: all 0.2s ease-in-out;
  }

  #Botao:hover{
top: 20px;
left: 20px;
  }