/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');

/* estilos padrão */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Instrument Serif', serif;
  background-color: #FFC4D6;
}

/* estilos da barra de navegação */
.barra-nav {
  background-color: #FFC4D6;
  padding-bottom: 10px;
  float: right;
  line-height: 60px;
  height: 10px;
}

.barra-nav a {
  margin: 10px;
  font-size: large;
  color: #03045E;
  text-align: center;
  text-decoration: none;
}

.barra-nav a:hover {
  background-color: #FFA6C1;
  border-radius: 5px;
}
.barra-nav a:active {
  color: #e5e5e5;
}


/* estilos do header */
.header h1 {
    color: #03045E;
    margin-left: 20px;
  }
  
  hr {
    color: #03040E;
  }

  
  /* Estilos para a galeria de imagens */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 50px auto;
  }
  
  .gallery-image {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
  }
  
  .gallery-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

   /*estilos do rodape*/
   .rodape{
    background-color: #FFA6C1;
    position: absolute;
    width: 100%;
}
.rodape-nav a:active{
    color:white;
}
.rodape-nav{
    line-height: 50px;
    background-color: #FFA6C1;
    margin: 10px;
    font-size: 30px;
    color: #03045E;
    text-align: center;
    
}
.rodape-nav a{
  color: #03045E;
    margin: 10px;
    background-color: #FFA6C1;
    border-radius: 5px;
    text-decoration-line: none;
}
.rodape-nav a:hover{
    background-color: #FFC4D6;
    border-radius: 5px;
}
.rodape-nav i{
  background-color: #FFA6C1;
}

#blue{
  color: blue;
}
.paragrafo{
  font-size: 20px;
  background-color: #FFA6C1;

}

  /* Estilos Responsivos */
@media screen and (max-width: 1024px) {
  /* estilos do header responsivos */
  .barra-nav .container {
    display: inline;
}

.barra-nav a {
    display: inline-block  ;
    margin-top: 50px;
    margin-right:20px;
}

.barra-nav .active {
    display: inline;
}


  .header h1 {
    margin-left: 10px;
    font-size: 24px;
  }

  hr {
    margin: 10px 0;
  }

  /* estilos do rodapé responsivos */
  .rodape{
    background-color: #FFA6C1;
    position: absolute;
    width: 100%;
  }
}

@media screen and (max-width: 844px) {
  .barra-nav{
    display: none;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    margin: 10px;
  }
  
  .rodape{
    background-color: #FFA6C1;
    position: absolute;
    width: 100%;
  }
}